@import 'tailwindcss';
@import 'tw-animate-css';
@import './fonts.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

body {
    font-family: 'Montserrat', sans-serif;
}

body,
html {
    scroll-behavior: smooth;
    background-color: #f3f3f3;
}
